
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* share style */

.text-center{
   text-align: center;
}

.btn-primary{
    padding:12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    border: none;
}



/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title{
    font-size: 34px;
    font-weight:900;
    color: #4E47FF;
}

.header{
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
 background-size: cover;
    height: 698px;
    width: auto;
}

/* banner */

.banner{
    text-align: center;
}

.banner-content-text{
    width: bold;
    font-size: 65px;
}
.banner-content{
    text-align: center;
    margin: 200px 25%;
}
.section-1{
    display: flex;
    justify-content: center;
    gap:150px ;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.section-1-pic{
    border-radius: 48px;
}

.contant-title{
    font-weight: bold;
    font-size: 42px;
}

/* section 2 styles */

.user-container{
    display: flex;
    justify-content: space-around;
    
}

.section-2{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
}

.user-quantity{
    font-weight: bold;
    font-size: 80px;
}

.user{
    margin-top:10px;
}


/* প্রথম ও দ্বিতীয় লাইনের মাঝে 50px */
.contant-title {
  margin-bottom: 10px;
}

/* সংখ্যা (দ্বিতীয় লাইন) ও নাম (তৃতীয় লাইন) এর মাঝে 20px */
.user-quantity {
  margin-bottom: 10px;
}


.user-name{
    margin-top: -20px;
}
    
.user-quantity{
    margin-top: 20px;
}

body{
     background-color: #F5F8FF;
    }

    .section-3{
       background-color: white;
       padding: 71px 150px;
       border-radius: 14px;
    }

    .section-3-btn{
        margin-top: 40px;
    margin-bottom: 25px;
    }

    .section-3-text{
        text-align: center;
    }

    .section-3 .contant-title{
        margin-top: 0;
    }

    .section-3-pic{
        border-radius: 48px;
    }


    /* section 4 style */

    .rating-user{
        display: flex;
        align-items: center;
          
    }

    .rating-user-pic{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .review-container{
        background-color: white;
        border-radius: 14px;
        padding: 24px;
    }

    .rating-user-identity{
        margin-left: 15px;
        
    }

    .name{
        margin-bottom: -15px;
    }

    .rating-title{
        color: rgba(30, 30, 30, 1);
    }

    .name{
        color: rgba(117, 117, 117, 1);
    }

    .date{
        color:rgba(179, 179, 179, 1) ;
    }

    .review-containers{
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }

    .section-4-title{
        margin-bottom: 50px ;
    }